

<div id="edit-modal" class="overlay">
    <form method="post" action="/reservations/editreservation" class="popup2">
        <div class="popup-content">
            <a class="close" href="#">×</a>
            <p class="full-details">Edit Reservation</p>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="rental-return">Rental Date</p>
                            <input type="date" id="edit-rental-date" name="RentalDate" class="mb-3" style="border: 2px solid #FEB21E; border-radius: 5px; height: 35px; margin-top: -10px;" onchange="updateTo(this)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="rental-return" style="margin-top: 12px;">Return Date</p>
                            <input type="date" id="edit-return-date" name="ReturnDate" style="border: 2px solid #FEB21E; border-radius: 5px; height: 35px; margin-top: -10px;" onchange="updatePriceFromDate(this)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a id="cancel-reservation" href="#" class="btn btn-danger mt-4">Cancel Reservation</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="rental-return" style="margin-bottom: 6px;">Reserved Car</p>
                            <img src="../assets/img/car-yellow.png" width="25" height="19">
                            <p class="car-model">Mercedes GLa</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p style="margin-top: 55px;" class="price">Price<span id="price-val" style="margin-left: 80px; position: relative; top: 1px; color: #0EC01F;">35.00$</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="vehicleDailyPrice" name="Vehicle.DailyPrice" />
        <input type="hidden" id="inputBookingID" name="BookingID" />
        <button type="submit" class="save-button" style="text-decoration: none; color: black; text-align: center;" href="#">Save</button>
    </form>
</div>