
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="ml-4">
                <a class="table-add-btn" href="user-crud.html">
                    <i class="material-icons primary-color" style="font-size: 40px;">add_box</i>
                </a>
            </div>
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search User...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Users Table</h4>
                        <p class="card-category"> Users Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Last Login
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Admin123
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            Admin@gmail.com
                                        </td>
                                        <td>
                                            20 Fri, June, 2021
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
