@{
    ViewBag.VehicleActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="ml-4">
                <a class="table-add-btn" href="vehicle-crud.html">
                    <i class="material-icons primary-color" style="font-size: 40px;">add_box</i>
                </a>
            </div>
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search Vehicle...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Vehicles Table</h4>
                        <p class="card-category"> Vehicles Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Make
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Year
                                </th>
                                <th>
                                    Plate Nr
                                </th>
                                <th>
                                    Transmission
                                </th>
                                <th>
                                    Seats
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Mileage
                                </th>
                                <th>
                                    Fuel Type
                                </th>
                                <th>
                                    Fuel Amount
                                </th>
                                <th>
                                    Reg Days Left
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Mercedes
                                        </td>
                                        <td>
                                            G-CLASS
                                        </td>
                                        <td>
                                            SUV
                                        </td>
                                        <td>
                                            2013
                                        </td>
                                        <td>
                                            02-A9S-KE
                                        </td>
                                        <td>
                                            Automatic
                                        </td>
                                        <td>
                                            5
                                        </td>
                                        <td class="text-primary">
                                            $27.50
                                        </td>
                                        <td>
                                            92841
                                        </td>
                                        <td>
                                            Diesel
                                        </td>
                                        <td>
                                            15.0L
                                        </td>
                                        <td>
                                            46 Days Left
                                        </td>
                                        <td class="td-actions text-right">
                                            <a href="maintenance-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Maintenance">
                                                <i class="material-icons">engineering</i>
                                            </a>
                                            <a href="repair-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Repair">
                                                <i class="material-icons">build</i>
                                            </a>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>