@{
    ViewBag.RentalActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search Rental...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Rentals Table</h4>
                        <p class="card-category"> Rentals Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    Fuel Amount
                                </th>
                                <th>
                                    Mileage
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            18 May
                                        </td>
                                        <td>
                                            Armend Emini
                                        </td>
                                        <td>
                                            Mercedes G-CLASS
                                        </td>
                                        <td>
                                            15.0L
                                        </td>
                                        <td>
                                            94823
                                        </td>
                                        <td class="td-actions text-right">
                                            <a href="return-create.html" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Create Return">
                                                <i class="material-icons">assignment_return</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>