<!-- Delete Record Modal -->
<div class="modal fade" id="cancelBookingModal" tabindex="-1" role="dialog" aria-labelledby="cancelBookingModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="cancelBooking" class="modal-content form-row card" method="POST">
            <div class="modal-header card-header card-header-primary">
                <h5>Cancel Reservation</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card-body">
                <div class="col-12 py-3">
                    <i class="material-icons text-danger">error</i>
                    <p class="" style="font-size: 1.1em;">
                        Canceled reservations are not deleted, they will stay inactive for statistical purposes
                        and you cannot modify canceled reservations. Are you sure you wanna cancel this reservation?
                    </p>
                </div>

                <div class="row input-group form-group no-border justify-content-between">
                    <button type="button" class="btn col-4" data-dismiss="modal">Exit</button>
                    <button type="submit" class="btn btn-primary col-4" style="background-color:#982245">Yes, Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>