<!-- Delete Record Modal -->
<div class="modal fade" id="deleteBookingModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookingModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="deleteBooking" class="modal-content form-row card" method="POST">
            <div class="modal-header card-header card-header-primary">
                <h5>Remove Booking</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card-body">
                <div class="col-12 py-3">
                    <i class="material-icons text-danger">error</i>
                    <p class="" style="font-size: 1.1em;">
                        Removing reservations is not recommended, the rental/return that is created from this reservation will be removed too.
                        Are you sure you wanna remove this reservation?
                    </p>
                </div>

                <div class="row input-group form-group no-border justify-content-between">
                    <button type="button" class="btn col-4" data-dismiss="modal">Exit</button>
                    <button type="submit" class="btn btn-primary col-4" style="background-color:#982245">Yes, Remove</button>
                </div>
            </div>
        </form>
    </div>
</div>