@{
    ViewBag.BookingActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search Reservation...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Reservations Table</h4>
                        <p class="card-category"> Reservations Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Vehicle
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Rental Date
                                </th>
                                <th>
                                    Return Date
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            18 May
                                        </td>
                                        <td>
                                            Armend Emini
                                        </td>
                                        <td>
                                            Mercedes G-CLASS
                                        </td>
                                        <td>
                                            $35.00
                                        </td>
                                        <td>
                                            19 May
                                        </td>
                                        <td>
                                            21 May
                                        </td>
                                        <td class="td-actions text-right">
                                            <a href="rental-create.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Create Rental">
                                                <i class="material-icons">arrow_forward</i>
                                            </a>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove" data-toggle="modal"
                                                    data-target="#deleteModal">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>