@{
    ViewBag.ClientActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search Client...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Clients Table</h4>
                        <p class="card-category"> Clients Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Surname
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone Nr
                                </th>
                                <th>
                                    Driving License
                                </th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Armend
                                        </td>
                                        <td>
                                            Emini
                                        </td>
                                        <td>
                                            25
                                        </td>
                                        <td>
                                            Rruga arberia 291
                                        </td>
                                        <td>
                                            Armend@gmail.com
                                        </td>
                                        <td>
                                            044914771
                                        </td>
                                        <td>
                                            1203190387
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>